body{
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
}
#navbar{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0 auto;
  padding-bottom: 0 auto;
  background: #00ccff;
}
nav#navbar ul{
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
}
nav#navbar ul li{
  float: right;
  width: 140px;
  font-size: 12px;
  margin-right: 100px;
  margin-left: 0 auto;
  display: inline-block;
  padding: 15px 20;
  line-height: 40px;
  border-color: red;
  border-width: 3px;
  border-style: double;
  text-align: center;
}
nav#navbar ul li a{
  text-decoration: none;
  color:white;
  text-align: left;
}
nav#navbar ul li a:hover{
  color: blue;
  text-decoration: underline;
}
nav img{
  margin-left: 690px;
  width: 42px;
}
p{
  padding-top: 15px;
  text-align: center;
  font-size: 30px;
  margin-right: 175px;
}
#div1{
  text-align: center;
  padding: 15px;
}
div#div1 input{
  border-style: groove;
  border-radius: 4px;
  width: 400px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}
#div2{
  text-align: center;
  padding: 15px;
}
div#div2 input{
  border-style: groove;
  border-radius: 4px;
  width: 400px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}
#div3{
  text-align: center;
  padding: 15px;
}
div#div3 input{
  border-style: groove;
  border-radius: 4px;
  width: 400px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}
#div4{
  text-align: center;
  margin-right: 70px;
  color: gray;
  font-size: 12px;
  padding: 10px;
}
div#div4 a{
  color: blue;
  text-decoration: none;
}
div#div4 a:hover {
  text-decoration: underline;
}
#divbar{
  text-align: center;
}
div#divbar button{
  background-color: #1aa3ff;
  border-radius: 5px;
  color: white;
  border: none;
  margin: 15px;
  height: 45px;
  width: 400px;
  font-size: 17px;
}
div#divbar p{
  margin-left: 340px;
  max-width: 400px;
  padding-left: 140px;
  font-size: 12px;
  text-align: left;
  color: gray;
}
div#divbar p a{
  text-decoration: none;
  color: blue;
}
div#divbar p a:hover {
  text-decoration: underline;
}
